header {
  background-color: #eebb44;
  margin-bottom: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}
.cardpic {
	width: 100%;
}
.card {
	border: 1px solid #cecec4;
	margin-bottom: 25px
}
.card-info {
	padding: 15px;
}
