header {
  background-color: dodgerblue;
  margin-bottom: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
  background-color: dimgray
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}
.cardpic {
	width: 100%;
}
.cardpic:hover {
    width: 105%;
    color: black;
}

.card {
	border: 1px solid black;
	margin-bottom: 25px
}
.card-info {
	padding: 15px;
    background-color: aliceblue;
}
